*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}



.section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 414px;
    height: 896px;
    margin-top: -400px;
    margin-left: 600px;
}